Review the WITH statement

Idiosyncrasies in T-SQL

Using WITH iteratively

Looking at recursion in math and T-SQL

Simple examples of recursive T-SQL

Navigating a hierarchy

Performance issues

CTEs are not materialized

CTE queries

\- any valid SELECT statements

\- simple or complex

\- cannot  be nested (with, or call a view with statement)

In [ ]:
--  Keyword WITH starts things off
[;]WITH
-- First CTE , Common Table Expression (CTE)
cte1 [(col1, col2, …)] -- Optional list of column names
AS (
SELECT …), -- Query definition

-- Second CTE, Optional second common table expression
cte2 [(col1, col2, …)]
AS (
SELECT …),

-- Other CTEs , Additional CTEs, as required

-- Outer query using the CTEs, Final query, using the common table expressions, DML
SELECT | INSERT | UPDATE | DELETE

In [ ]:
[;]WITH
    -- First CTE
    cte1 [(col1, col2, …)]
    AS (
    SELECT …),

    -- Second CTE
    cte2 [(col1, col2, …)]
    AS (
    SELECT …),

    -- Other CTEs
    
-- Outer query using the CTEs
SELECT …

In [ ]:
-- Outer query using subqueries
SELECT …
FROM

    -- First subquery
    (SELECT …) AS sub1 [(col1, col2, …)]

    JOIN | UNION

    -- Second subquery
    (SELECT …) AS sub2 [(col1, col2, …)]

In [1]:
-- Rename a column

;WITH simpleCTE (FortyTwo) AS (
    SELECT 42 AS tweenverttig -- Setting the column name in Dutch
)

SELECT 
    FortyTwo 
FROM 
    simpleCTE

GO

-- equivalent to

SELECT
    FortyTwo
FROM (
    SELECT
        42
    AS
    tweenvertig
) simpleSubquery (FortyTwo) -- Renaming the column another way

GO

FortyTwo
42

FortyTwo
42

In [3]:
-- get selection of employees
;WITH Emps AS (
    SELECT
        *
    FROM
        HumanResources.Employee AS e
    WHERE
        e.BirthDate > '1990-01-01'
),
People AS (
    SELECT
        *
    FROM
        Person.Person AS P
    WHERE
        p.LastName LIKE 'K%'
)

SELECT
    CONCAT_WS('.', P.FirstName, p.LastName, e.JobTitle) AS NameAndTitle
FROM 
    Emps e
JOIN 
    People p
ON
    p.BusinessEntityID = e.BusinessEntityID;

NameAndTitle
Elizabeth.Keyser.Production Technician - WC50
Tengiz.Kharatishvili.Control Specialist
Shane.Kim.Production Supervisor - WC45

In [4]:
-- Updating (also good for deleting and inserting)

BEGIN TRAN -- Protect against unwanted changes

;WITH cur AS (
    SELECT
        CurrencyCode,
        Name
    FROM
        Sales.Currency as c -- ORDER BY name
    WHERE
        c.CurrencyCode IN ('NLG', 'BEF','FRF', 'ITL', 'DME')
)

UPDATE Cur
SET Cur.Name = CONCAT_WS(' ', cur.Name, '-', cur.CurrencyCode, 'No longer used, use Euro')
OUTPUT
    deleted.CurrencyCode, 
    deleted.Name,
    inserted.Name

ROLLBACK

GO

CurrencyCode,Name,Name
BEF,Belgian Franc,"Belgian Franc - BEF No longer used, use Euro"
FRF,French Franc,"French Franc - FRF No longer used, use Euro"
ITL,Italian Lira,"Italian Lira - ITL No longer used, use Euro"
NLG,Netherlands Guilder,"Netherlands Guilder - NLG No longer used, use Euro"

Recursion

1. Split the CTE expression <span style="color: #859900;">into</span> anchor <span style="color: #859900;">and</span> <span style="color: #859900;">recursive</span> members
2. Run the anchor <span style="color: #859900;">member</span>(s) creating the <span style="color: #859900;">first</span> invocation <span style="color: #859900;">or</span> base
3. result <span style="color: #859900;">set</span>
4. Run the <span style="color: #859900;">recursive</span> <span style="color: #859900;">member</span>(s) <span style="color: #859900;">with</span> the <span style="color: #859900;">current</span> result <span style="color: #859900;">set</span> <span style="color: #859900;">as</span> input <span style="color: #859900;">and</span>
5. generating a <span style="color: #859900;">new</span> result <span style="color: #859900;">set</span> <span style="color: #859900;">as</span> <span style="color: #859900;">output</span>
6. <span style="color: #859900;">Repeat</span> <span style="color: #859900;">until</span> an <span style="color: #859900;">empty</span> <span style="color: #859900;">set</span> <span style="color: #859900;">is</span> returned, <span style="color: #859900;">when</span> a terminating <span style="color: #859900;">condition</span>
7. <span style="color: #859900;">is</span> met
8. <span style="color: #859900;">Return</span> the <span style="color: #859900;">UNION ALL</span> <span style="color: #859900;">of</span> <span style="color: #859900;">all</span> the result <span style="color: #859900;">sets</span> returned

In [ ]:
[;]WITH -- Keyword WITH starts things off
    -- possible Other CTEs

    -- Recursive CTE

    recurs [(col1, col2, …)] -- Recursive CTE
    AS ( -- Query definition -- Base case -- Recursive case
        SELECT … 
        UNION ALL
        SELECT …
        FROM recurs
      )
),

-- Final query, using the common table, expression

-- Outer query using the recursive

SELECT | INSERT | UPDATE | DELETE
FROM recurs