# characters

In [17]:
select top 5 * from characters;

id,name,guild,class,level,experience,health,is_alive,last_active,mentor_id
1,Aragorn,Rangers,Warrior,25,9000,120.5,TRUE,2023-09-20 08:00:00.0000000 +00:00,NULL
3,Gimli,Erebor,Warrior,20,6000,130.25,TRUE,2023-09-22 07:00:00.0000000 +00:00,NULL
4,Frodo,Shirefolk,Hobbit,12,2500,50.5,FALSE,2023-09-23 10:00:00.0000000 +00:00,1
5,Sam,Shirefolk,Hobbit,13,2750,52.5,TRUE,2023-09-23 10:05:00.0000000 +00:00,1
6,Gandalf,Istari,Mage,30,10000,90,TRUE,2023-09-20 11:00:00.0000000 +00:00,NULL

In [8]:
drop table characters;

In [9]:
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[characters](
	[id] [int] NULL,
	[name] [varchar](50) NULL,
	[guild] [varchar](50) NULL,
	[class] [varchar](50) NULL,
	[level] [int] NULL,
	[experience] [int] NULL,
	[health] [float] NULL,
	[is_alive] [varchar](50) NULL,
	[last_active] [datetimeoffset] NULL,
	[mentor_id] [varchar](50) NULL
) ON [PRIMARY]
GO

# Inventory

In [18]:
select top 5 * from inventory;

id,character_id,item_id,quantity,is_equipped,purchase_date,expiry_date,value
1,1,99,1,TRUE,2023-09-10 08:00:00.0000000 +00:00,NULL,1500
2,1,4,2,FALSE,2023-09-12 09:00:00.0000000 +00:00,2023-10-12 09:00:00.0000000 +00:00,50
3,2,2,1,TRUE,2023-09-11 08:30:00.0000000 +00:00,NULL,1100
4,2,101,1,FALSE,2023-09-12 10:00:00.0000000 +00:00,2023-10-12 10:00:00.0000000 +00:00,60
5,3,3,1,TRUE,2023-09-15 08:00:00.0000000 +00:00,NULL,1300

In [10]:
drop table inventory;

In [11]:
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inventory](
	[id] [int] NULL,
	[character_id] [int] NULL,
	[item_id] [int] NULL,
	[quantity] [int] NULL,
	[is_equipped] [varchar](50) NULL,
	[purchase_date] [datetimeoffset] NULL,
	[expiry_date] [datetimeoffset] NULL,
	[value] [int] NULL
) ON [PRIMARY]
GO

# Items

In [19]:
select top 5 * from items;

id,name,item_type,power,weight,rarity,date_added
1,Excalibur,Weapon,100,10.5,Legendary,2023-09-01 09:00:00.0000000 +00:00
2,Elven Bow,Weapon,85,3.5,Rare,2023-09-02 10:00:00.0000000 +00:00
3,Dwarven Axe,Weapon,90,12,Rare,2023-09-03 11:00:00.0000000 +00:00
4,Healing Potion,Potion,50,1,Common,2023-09-04 08:00:00.0000000 +00:00
5,Mana Potion,Potion,60,1.1,Common,2023-09-05 08:30:00.0000000 +00:00

In [12]:
drop table items;

In [13]:

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[items](
	[id] [int] NULL,
	[name] [varchar](50) NULL,
	[item_type] [varchar](50) NULL,
	[power] [int] NULL,
	[weight] [float] NULL,
	[rarity] [varchar](50) NULL,
	[date_added] [datetimeoffset] NULL
) ON [PRIMARY]
GO

# Insert Data

characters

In [14]:
INSERT INTO [dbo].[characters] 
([id], [name], [guild], [class], [level], [experience], [health], [is_alive], [last_active], [mentor_id])
VALUES 
(1, 'Aragorn', 'Rangers', 'Warrior', 25, 9000, 120.5, 'TRUE', '2023-09-20 08:00:00 +00:00', NULL),
(3, 'Gimli', 'Erebor', 'Warrior', 20, 6000, 130.25, 'TRUE', '2023-09-22 07:00:00 +00:00', NULL),
(4, 'Frodo', 'Shirefolk', 'Hobbit', 12, 2500, 50.5, 'FALSE', '2023-09-23 10:00:00 +00:00', 1),
(5, 'Sam', 'Shirefolk', 'Hobbit', 13, 2750, 52.5, 'TRUE', '2023-09-23 10:05:00 +00:00', 1),
(6, 'Gandalf', 'Istari', 'Mage', 30, 10000, 90, 'TRUE', '2023-09-20 11:00:00 +00:00', NULL),
(7, 'Boromir', 'Gondor', 'Warrior', 18, 5500, 115.5, 'FALSE', '2023-09-21 12:00:00 +00:00', NULL),
(8, 'Merry', 'Shirefolk', 'Hobbit', 11, 2200, 48.5, 'TRUE', '2023-09-22 10:00:00 +00:00', 4),
(9, 'Pippin', 'Shirefolk', 'Hobbit', 11, 2100, 47.5, 'TRUE', '2023-09-22 10:01:00 +00:00', 4),
(10, 'Sauron', 'Dark Lords', 'Mage', 40, 15000, 85, 'FALSE', '2023-09-23 01:00:00 +00:00', NULL),
(11, 'Saruman', 'Istari', 'Mage', 28, 8500, 88.5, 'FALSE', '2023-09-20 03:00:00 +00:00', 6),
(12, 'Elrond', 'Rivendell', 'Mage', 27, 8200, 87.5, 'TRUE', '2023-09-21 04:00:00 +00:00', 6),
(13, 'Thranduil', 'Mirkwood', 'Archer', 26, 7900, 97, 'TRUE', '2023-09-22 02:00:00 +00:00', 2),
(14, 'Eowyn', 'Rohan', 'Warrior', 17, 5200, 112.5, 'TRUE', '2023-09-23 05:00:00 +00:00', 7),
(15, 'Faramir', 'Gondor', 'Archer', 19, 5700, 118.5, 'TRUE', '2023-09-20 06:00:00 +00:00', 7);

inventory

In [15]:
INSERT INTO [dbo].[inventory] 
([id], [character_id], [item_id], [quantity], [is_equipped], [purchase_date], [expiry_date], [value])
VALUES 
(1, 1, 99, 1, 'TRUE', '2023-09-10 08:00:00 +00:00', NULL, 1500),
(2, 1, 4, 2, 'FALSE', '2023-09-12 09:00:00 +00:00', '2023-10-12 09:00:00 +00:00', 50),
(3, 2, 2, 1, 'TRUE', '2023-09-11 08:30:00 +00:00', NULL, 1100),
(4, 2, 101, 1, 'FALSE', '2023-09-12 10:00:00 +00:00', '2023-10-12 10:00:00 +00:00', 60),
(5, 3, 3, 1, 'TRUE', '2023-09-15 08:00:00 +00:00', NULL, 1300),
(6, 3, 6, 1, 'FALSE', '2023-09-16 09:00:00 +00:00', NULL, 200),
(7, 4, 9, 2, 'FALSE', '2023-09-20 08:00:00 +00:00', '2023-10-20 08:00:00 +00:00', 150),
(8, 5, 10, 1, 'FALSE', '2023-09-21 10:00:00 +00:00', '2023-10-21 10:00:00 +00:00', 160),
(9, 6, 11, 1, 'TRUE', '2023-09-22 11:00:00 +00:00', NULL, 1700),
(10, 6, 16, 1, 'FALSE', '2023-09-23 09:00:00 +00:00', '2023-10-23 09:00:00 +00:00', 30),
(11, 7, 7, 1, 'TRUE', '2023-09-18 08:00:00 +00:00', NULL, 700),
(12, 7, 4, 1, 'FALSE', '2023-09-19 09:00:00 +00:00', '2023-10-19 09:00:00 +00:00', 50),
(13, 8, 8, 1, 'FALSE', '2023-09-20 10:00:00 +00:00', NULL, 800),
(14, 9, 12, 1, 'TRUE', '2023-09-21 11:00:00 +00:00', NULL, 1200),
(15, 10, 13, 1, 'TRUE', '2023-09-22 12:00:00 +00:00', NULL, 1300),
(16, 11, 14, 1, 'TRUE', '2023-09-23 08:00:00 +00:00', NULL, 1400),
(17, 12, 15, 1, 'FALSE', '2023-09-23 09:00:00 +00:00', NULL, 1500),
(18, 13, 17, 1, 'TRUE', '2023-09-23 10:00:00 +00:00', NULL, 1700),
(19, 14, 18, 1, 'TRUE', '2023-09-23 11:00:00 +00:00', NULL, 1800),
(20, 15, 121, 1, 'FALSE', '2023-09-24 08:00:00 +00:00', NULL, 2000);

In [16]:
INSERT INTO [dbo].[items] 
([id], [name], [item_type], [power], [weight], [rarity], [date_added])
VALUES 
(1, 'Excalibur', 'Weapon', 100, 10.5, 'Legendary', '2023-09-01 09:00:00 +00:00'),
(2, 'Elven Bow', 'Weapon', 85, 3.5, 'Rare', '2023-09-02 10:00:00 +00:00'),
(3, 'Dwarven Axe', 'Weapon', 90, 12, 'Rare', '2023-09-03 11:00:00 +00:00'),
(4, 'Healing Potion', 'Potion', 50, 1, 'Common', '2023-09-04 08:00:00 +00:00'),
(5, 'Mana Potion', 'Potion', 60, 1.1, 'Common', '2023-09-05 08:30:00 +00:00'),
(6, 'Leather Armor', 'Armor', 40, 8, 'Common', '2023-09-06 09:00:00 +00:00'),
(7, 'Chainmail Armor', 'Armor', 70, 18.5, 'Rare', '2023-09-07 10:00:00 +00:00'),
(8, 'Dragon Scale Armor', 'Armor', 90, 20, 'Legendary', '2023-09-08 11:00:00 +00:00'),
(9, 'Fireball Scroll', 'Weapon', 75, 0.5, 'Common', '2023-09-09 07:00:00 +00:00'),
(10, 'Teleport Scroll', 'Weapon', 80, 0.6, 'Common', '2023-09-10 07:30:00 +00:00'),
(11, 'Mithril Sword', 'Weapon', 95, 9.5, 'Legendary', '2023-09-11 09:00:00 +00:00'),
(12, 'Elven Quiver', 'Weapon', 82, 2.2, 'Rare', '2023-09-12 10:00:00 +00:00'),
(13, 'Phoenix Feather', 'Weapon', 100, 0.1, 'Legendary', '2023-09-13 11:00:00 +00:00'),
(14, 'Earthquake Rune', 'Weapon', 88, 1, 'Rare', '2023-09-14 08:00:00 +00:00'),
(15, 'Resurrection Stone', 'Potion', 99, 1.5, 'Legendary', '2023-09-15 08:30:00 +00:00'),
(16, 'Stamina Elixir', 'Potion', 30, 0.8, 'Common', '2023-09-16 09:00:00 +00:00'),
(17, 'Lightning Rod', 'Weapon', 76, 4.5, 'Common', '2023-09-17 10:00:00 +00:00'),
(18, 'Steel Dagger', 'Weapon', 65, 2.5, 'Common', '2023-09-18 11:00:00 +00:00'),
(19, 'Frostbite Blade', 'Weapon', 91, 10, 'Rare', '2023-09-19 07:00:00 +00:00'),
(20, 'Cloak of Invisibility', 'Armor', 78, 2, 'Rare', '2023-09-20 07:30:00 +00:00');