\- bucketing

usally with case when statment.

  

CASE

  

END

In [4]:
SELECT 
    name,
    level,
CASE
    WHEN level < 15 THEN 'low'
    WHEN level >= 15 AND level < 25 THEN 'mid'
    WHEN level >= 25 THEN 'super'
END AS level_bucket
FROM
    characters;

name,level,level_bucket
Aragorn,25,super
Gimli,20,mid
Frodo,12,low
Sam,13,low
Gandalf,30,super
Boromir,18,mid
Merry,11,low
Pippin,11,low
Sauron,40,super
Saruman,28,super
Elrond,27,super
Thranduil,26,super
Eowyn,17,mid
Faramir,19,mid

In [9]:
SELECT 
    name,
    level,
CASE
    WHEN level < 15 THEN 'low'
    WHEN level < 25  THEN 'mid'
    ELSE 'super'
END AS level_bucket
FROM
    characters;

name,level,level_bucket
Aragorn,25,super
Gimli,20,mid
Frodo,12,low
Sam,13,low
Gandalf,30,super
Boromir,18,mid
Merry,11,low
Pippin,11,low
Sauron,40,super
Saruman,28,super
Elrond,27,super
Thranduil,26,super
Eowyn,17,mid
Faramir,19,mid

In [2]:
SELECT 
    name,
    level,
CASE
    WHEN class = 'Mage' THEN level * 0.5
    WHEN class IN ('Archer', 'Warrior') THEN level * 0.75
    ELSE level * 1.5
END AS power_level
FROM
    characters;

name,level,power_level
Aragorn,25,18.75
Gimli,20,15.00
Frodo,12,18.00
Sam,13,19.50
Gandalf,30,15.00
Boromir,18,13.50
Merry,11,16.50
Pippin,11,16.50
Sauron,40,20.00
Saruman,28,14.00
Elrond,27,13.50
Thranduil,26,19.50
Eowyn,17,12.75
Faramir,19,14.25

In [12]:
SELECT  
    name,
    level,
CASE 
    WHEN level * experience / 2 < 20 OR class IN ('Manga', 'Archer') THEN 1
    WHEN level < 25 THEN 2
    ELSE 3
END
FROM 
    characters
WHERE 
    is_alive = 'TRUE'

name,level,(No column name)
Aragorn,25,3
Gimli,20,2
Sam,13,2
Gandalf,30,3
Merry,11,2
Pippin,11,2
Elrond,27,3
Thranduil,26,1
Eowyn,17,2
Faramir,19,1