In [1]:
SELECT 
    * 
FROM 
    (
        SELECT 
            name,
            level,
        CASE
            WHEN class = 'Mage' THEN level * 0.5
            WHEN class IN ('Archer', 'Warrior') THEN level * 0.75
            ELSE level * 1.5
        END AS power_level
        FROM
            characters
    ) AS power_calculation
WHERE 
    power_level >= 15

name,level,power_level
Aragorn,25,18.75
Gimli,20,15.00
Frodo,12,18.00
Sam,13,19.50
Gandalf,30,15.00
Merry,11,16.50
Pippin,11,16.50
Sauron,40,20.00
Thranduil,26,19.50

In [2]:
 WITH  power_level_table  AS 
(
    SELECT 
        name,
        level,
    CASE
        WHEN class = 'Mage' THEN level * 0.5
        WHEN class IN ('Archer', 'Warrior') THEN level * 0.75
        ELSE level * 1.5
    END AS power_level
    FROM
        characters
)


SELECT 
    * 
FROM 
    power_level_table
WHERE
    power_level >= 16;

name,level,power_level
Aragorn,25,18.75
Frodo,12,18.00
Sam,13,19.50
Merry,11,16.50
Pippin,11,16.50
Sauron,40,20.00
Thranduil,26,19.50

do not mix cte with subquery

In [3]:
 WITH  power_level_table  AS 
(
    SELECT 
        name,
        level,
    CASE
        WHEN class = 'Mage' THEN level * 0.5
        WHEN class IN ('Archer', 'Warrior') THEN level * 0.75
        ELSE level * 1.5
    END AS power_level
    FROM
        (
                SELECT 
                    * 
                FROM 
                    characters
                WHERE
                    is_alive = 'true'
        ) AS character_is_alive
)


SELECT 
    * 
FROM 
    power_level_table
WHERE
    power_level >= 16;

name,level,power_level
Aragorn,25,18.75
Sam,13,19.50
Merry,11,16.50
Pippin,11,16.50
Thranduil,26,19.50

# CTE - 1

In [5]:
 WITH character_alive AS 
(
        SELECT 
            * 
        FROM 
            characters
        WHERE
            is_alive = 'true'
),

 power_level_table  AS 
(
    SELECT 
        name,
        level,
    CASE
        WHEN class = 'Mage' THEN level * 0.5
        WHEN class IN ('Archer', 'Warrior') THEN level * 0.75
        ELSE level * 1.5
    END AS power_level
    FROM
        character_alive
)


SELECT 
    * 
FROM 
    power_level_table
WHERE
    power_level >= 16;

name,level,power_level
Aragorn,25,18.75
Sam,13,19.50
Merry,11,16.50
Pippin,11,16.50
Thranduil,26,19.50