In [1]:
SELECT 
    name,
    level,
CASE
    WHEN class = 'Mage' THEN level * 0.5
    WHEN class IN ('Archer', 'Warrior') THEN level * 0.75
    ELSE level * 1.5
END AS power_level
FROM
    characters

name,level,power_level
Aragorn,25,18.75
Gimli,20,15.00
Frodo,12,18.00
Sam,13,19.50
Gandalf,30,15.00
Boromir,18,13.50
Merry,11,16.50
Pippin,11,16.50
Sauron,40,20.00
Saruman,28,14.00
Elrond,27,13.50
Thranduil,26,19.50
Eowyn,17,12.75
Faramir,19,14.25

In [3]:

SELECT 
    * 
FROM 
    (
        SELECT 
            name,
            level,
        CASE
            WHEN class = 'Mage' THEN level * 0.5
            WHEN class IN ('Archer', 'Warrior') THEN level * 0.75
            ELSE level * 1.5
        END AS power_level
        FROM
            characters
    ) AS power_calculation
WHERE 
    power_level >= 15

name,level,power_level
Aragorn,25,18.75
Gimli,20,15.00
Frodo,12,18.00
Sam,13,19.50
Gandalf,30,15.00
Merry,11,16.50
Pippin,11,16.50
Sauron,40,20.00
Thranduil,26,19.50

In [5]:

SELECT 
    * 
FROM 
    (
        SELECT 
            name,
            level,
        CASE
            WHEN class = 'Mage' THEN level * 0.5
            WHEN class IN ('Archer', 'Warrior') THEN level * 0.75
            ELSE level * 1.5
        END AS power_level
        FROM
            (
                SELECT
                    *
                FROM
                    characters
                WHERE
                    is_alive = 'TRUE'
            ) AS alive_characters
    ) AS power_calculation
WHERE 
    power_level >= 15

name,level,power_level
Aragorn,25,18.75
Gimli,20,15.00
Sam,13,19.50
Gandalf,30,15.00
Merry,11,16.50
Pippin,11,16.50
Thranduil,26,19.50